* {
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    /* border: 0.1px solid #d41818; */
}

::-webkit-scrollbar {
    display: none;
}

body {
    position: relative;
    margin: auto;
    max-width: 500px;
    /* height: 100vh; */
    background-color: #F7B32B;
    overflow: hidden;
}

header {
    display: flex;
    margin: 5px auto;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-size: 130%;
    text-shadow: 2px 2px 3px #012c44;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

header div span {
    font-size: 40px;
    font-weight: bold;
    color: #011627;
}

ul {
    margin-bottom: 3px;
    display: flex;
    cursor: pointer;
    color: #2D1E2F;
}

a {
    color: #2D1E2F;
}

main {
    padding: 0.1px;
    margin: auto;
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
}


section {
    margin: 100px auto;
    width: 95%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

section p {
    width: 90%;
    color: #2D1E2F;
    font-size: 22px; 
    text-align: center;

}

.btn-driver {
    padding: 10px;
    margin: 10px 0 60px;
    border-radius: 38px;
    width: 250px;
    border: none;
    color: #FCF6B1;
    height: 45px;
    background-color: #60222D;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}

#error {
    color: red;
    font-size: 12px;
    margin: auto;    
    text-align: center;
    padding: 2px 0;
}

.signin-error {
    color: red;
    font-size: 14px;
    margin-bottom: -20px;
}

/* ----------------- sign in -------------------- */

form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    width: 250px;
    height: 45px;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    border: none;
    margin: 10px auto;
    background-color: aliceblue;
    opacity: 0.8;
}

/* ----------------- password forgotten -------------------- */

label {
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: -5px;
    width: 100%;
    text-align: left;
}


.notification {
    width: 60%;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    visibility: hidden;
}
.notification-register {
    width: 60%;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    visibility: hidden;
}

.notification u, .notification-register u {
    color: red;
    text-align: center;
    cursor: pointer;
}

/* ----------------- driver registrataion -------------------- */

.register-section {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.register-section u {
    font-size: 12px;
    padding: 5px 10px;
}

.registration-form {
    width: 100%;
    border: 0.1px solid red;
    margin: 0;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.register-section p {
    font-size: 17px;
    margin-left: -12px;
    text-align: left;
    font-weight: 700;
    
}

.register-section input, select {
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 40px;
    text-align: left;
    padding: 0 10px;
    margin: 8px 5px 15px; 
}
 .personal-register{
    background-color: #fcf6b149;
    width: 80%;
    height: fit-content;

 }

 /* ----------------------driver's portal --------------------- */

.logout-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color:#F7B32B;
}

 .prof {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
    width: 85%;
    color: rgba(30, 66, 174, 0.806);
    margin: 80px auto -105px;
    padding: 0 15px 0 5px;
 }

 .unavailable-screen {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 80%;
    line-height: 80px;
    height: 80px;
    background-color: #ffffff5a;
    text-align: center;
    color: red;

 }

 .driver-portal-sct {
    overflow-y: scroll;
    display: flex;
    width: 85%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
}

.driver-portal-sct details  {
    background-color: #FCF6B1;
    margin: 5px auto;
    width: 100%;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: 2px 4px 15px 0px rgba(0,0,0,0.75);
}
.driver-portal-sct details summary  {
    height: 60px;
}

.expand {
    float: right;
    scale: 1.3;
    color: rgba(30, 66, 174, 0.806);
}



.driver-portal-sct p {
    font-size: 18px;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
}
.start-l, .end-l, .ride-id {
    display: none;
}

.status {
    margin: auto;
    border-radius: 40px;
    background-color: #fcf6b18f;
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status p {
    font-size: 25px;
    margin-right: 10px;
}





 .accept {
    width: 80px; 
    margin: 18px;
    background-color: #F7B32B;
    border: none;
    height: 25px;
    border-radius: 15px;
 }

 .card {
    border-radius: 10px;
    width: 100%;
    background-color: #FCF6B1;
    margin-top: 60px;
    text-align: center;
 }
 .card p {
    font-weight: 600;
    width: 90%;
    margin: 20px auto 5px;
    background-color: #F7B32B;
 }
 .card p span {
    color: #011627b8;
    font-weight: 600;
 }

 .start {
    color: #fff;
    width: 120px;
    background-color: #6060c3;
    border: none;
    margin: 30px;
    height: 30px;
    border-radius: 15px;
 }

  /* for driver */

  .leaflet-routing-container, .leaflet-bar .leaflet-routing-collapsible, .leaflet-control {
    overflow-y: hidden;
    font-size: 12px;
    height: 200px;
    position: relative;
    top: 500px;
    width: 100%;
    opacity: 0.8;
    color: blue;
    right: 5px;
    border: none;
    ::-webkit-scrollbar {
    display: none;
}
}

.leaflet-control-zoom {
    height: 60px;
    scale: 0.6;
    position: relative;
    top: 0;
    opacity: 0.5;
}

.leaflet-control-attribution{
    display: none;
}
#map {
    width: 90%;
    height: 80vh;
}

.trip-info-driv {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: #bcdbea;
    width: 95%;
    height: 80vh;
    background-color: #F7B32B;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    border-radius: 5px;
    visibility: hidden;
    animation: upward 0.2s ease;
}
.down-arrow {
    position: absolute;
    cursor: pointer;
    width: 40px;
    right: 12px;
    scale: 1.4;
    z-index: 1000000;
    margin-bottom: -40px;
    height: 40px;
    transform: rotate(270deg);
}

#trip-icon {
    cursor: pointer;
    top: 20px;
    left: 20px;
    position: absolute;
}



 .seeonmap-btn {
    width: 120px;
    border: none;
    height: 25px;
    border-radius: 15px;
    background-color: aqua;
 }
 .ignore-btn {
    width: 80px;
    border: none;
    height: 25px;
    margin: 18px 18px 18px 0;
    border-radius: 15px;
    background-color:chocolate;
 }

 .accept:active, .ignore-btn:active, .seeonmap-btn:active, .start:active, .end:active {
    opacity: 0.5;
 }

 .end {
    margin: auto;
    width: 120px;
    border: none;
    height: 35px;
    color: #fff;
    border-radius: 15px;
    background-color:#22602aca;
 }


 .driver-portal-sct .on-going {
    margin-top: 80px;
    font-size: 25px;
    text-align: center;
    color:#011627;
 }


 .pass-conf-notif {
    color: red;
    background-color: #fcf6b186;
    margin: auto;
    text-align: center;
    font-size: 16px;
    margin-top: -30px;
 }
