* {
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.7px;
    /* border: 0.1px solid #d41818; */
}

/*----------------- body -----------------*/
body {
    position: relative;
    margin: auto;
    max-width: 500px;
    height: 100vh;
    /* background-color: #5398BE; */
    background-color: #85C7F2;
    overflow: hidden;
}

/*----------------- header -----------------*/
header {
    padding: 0.5px;
    display: flex;
    height: 50px;
    margin: auto;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-size: 130%;
    text-shadow: 2px 2px 3px #012c44;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

header div span {
    font-size: 40px;
    font-weight: bold;
    color: #011627;
}

ul {
    display: flex;
    cursor: pointer;
}

#back {
    width: 30px;
    cursor: pointer;
}

/*----------------- main section -----------------*/
main {
    padding: 0.1px;
    margin: auto;
    width: 90%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.side-bar {
    padding: 0 5px;
    background-color: #bcdbea;
    position: absolute;
    float: right;
    z-index: 5;
    width: 50%;
    height: 100vh;
    border-radius: 5px;
    top: 10px;
    right: 13px;
    z-index: 2;
    display: none;
    animation: in 0.1s ease;
}

@keyframes in {
    0% {
        right: -100px;
    }

    100% {
        right: 12px;
    }

}

.close {
    position: relative;
    float: right;
    top: 5px;
    right: 5px;
    width: 35px;
    cursor: pointer;
}

.side-bar ul {
    margin-top: 50px;
    position: relative;
    right: 0;
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

.side-bar ul a {
    width: 100%;
}

.side-bar ul li {
    text-align: center;
    width: 100%;
    margin: 2px 0;
    border-radius: 5px;
    color: #000000;
    padding: 15px 5px;
    opacity: 0.5;
    font-weight: 600;
    background-color: #5398BE;
}

.side-bar ul li:hover {
    opacity: 1;
}

.side-bar ul .driver-option {
    background-color: rgba(208, 255, 0, 0.588);
}

.map-img {
    position: absolute;
    top: 400px;
    right: 20px;
    width: 400px;
    opacity: 0.3;
    animation: darken 2s ease 5s;
}

.car-img {
    position: absolute;
    top: 40%;
    right: 0px;
    width: 230px;
    animation: ease 5s show;
}

@keyframes show {
    0% {
        top: 10%;
        width: 50px;
        opacity: 0.9;
    }

    50% {
        top: 25%;
        width: 190px;
        opacity: 0.9;
    }

    80% {
        top: 40%;
        width: 230px;
        opacity: 0.9;
    }

    100% {
        top: 40%;
        width: 230px;
        opacity: 0.9;
    }
}

.app-img {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 200px;
    opacity: 0.3;
    animation: darken 2s ease 5s;
}

@keyframes darken {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0.2;
    }
}

section {
    margin: 20vh auto;
    width: 95%;
    display: flex;
}

.hero {
    width: 100%;
}

.hero p:nth-child(1) {
    font-family: cursive;
    font-size: 2em;
    color: #011627;
    opacity: 0.6;
}

.hero p:nth-child(2) {
    font-weight: 700;
    font-size: 3em;
    opacity: 0.3;
    margin-top: -40px;
    color: #011627;
    animation: darken 2s ease-out 4s infinite;
}

@keyframes darken {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }

    /* 100% {opacity: 0.5} */
}

main a {
    margin: 0 auto;
    z-index: 1;
}

.btn {
    cursor: pointer;
    margin: 0px auto;
    width: 220px;
    height: 45px;
    background-color: #4D78AB;
    border-radius: 27px;
    color: #fff;
    font-size: 16px;
    z-index: 1;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.btn:active {
    background-color: #4d77ab7a;
}

/*----------------- start page -----------------*/

.map-img-no-animation {
    animation: none;
}

.hero1 {
    width: 100%;
}

.hero1 .no-cursive {
    font-weight: 600;
    font-size: 23px;
    opacity: 0.7;
    text-align: center;
    color: #011627;
    font-family: sans-serif;
}

.form {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
}

.input-field {
    margin: 10px auto 10px;
    width: 280px;
    height: 45px;
    font-size: 16px;
    z-index: 1;
    border: none;
    color: rgb(21, 14, 14);
    text-align: center;
    background-color: #ffffff82;
    border-radius: 27px;
    
}

.input-field::placeholder {
    text-align: center;
    color: #000000;
}

.btn-1 {
    cursor: pointer;
    margin: 20px auto 5px;
    width: 280px;
    height: 45px;
    background-color: #4D78AB;
    border-radius: 27px;
    color: #fff;
    font-size: 16px;
    z-index: 1;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}


.btn-2 {
    cursor: pointer;
    margin: 20px auto 5px;
    width: 280px;
    height: 45px;
    background-color: #7e3ff2;
    border-radius: 27px;
    color: rgba(255, 255, 255, 0.42);
    font-size: 16px;
    z-index: 1;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.logout-btn {
    background-color: #4D78AB;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.phone-img {
    top: 50px;
    left: 30px;
    opacity: 0.3;
    width: 200px;
}

/* ----------------code page---------------------- */

.sms-code {
    justify-content: center;
    width: 100%;
    display: flex;
}

.sms-code input {
    width: 100px;
    height: 45px;
    margin: 10px;
    background-color: #ffffff7d;
    z-index: 2;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
    border: none;
}


/* ----------------set password page---------------------- */

.pass-img {
    width: 100px;
}

#code-alert {
    margin: auto;
    margin-top: -30px;
    color: red;
}

/* ----------------welcome page---------------------- */
.my-location {
    margin-left: -40px;
    top: 16px;
    position: absolute;
    border: #012c44 1px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}


.destination {
    margin-top: -60px;
    text-align: center;
    position: relative;
}


#suggestions-pickup {
    margin-top: -7px;
    overflow-y: scroll;
    width: 280px;
    left: 50%;
    border: none;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    z-index: 100;
}

#suggestions-pickup div {
    min-height: 50px;
    border-top: 1px solid #4d77abb5;
    border-bottom: 1px solid #4d77abb5;
    background-color: #cdd5df;
    padding: 8px;
}

#suggestions-drop {
    margin-top: -7px;
    overflow-y: scroll;
    width: 280px;
    left: 50%;
    border: none;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    z-index: 100;
}

#suggestions-drop div {
    min-height: 50px;
    border-top: 1px solid #4d77abb5;
    border-bottom: 1px solid #4d77abb5;
    background-color: #cdd5df;
    padding: 8px;
}

#alert-input {
    margin: auto;
    margin-top: 10px;
    color: black;
    text-align: center;
    border-radius: 5px;
    color: red;
}

.trip-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: #bcdbea;
    box-shadow: 2px 2px 3px #72bce778;
    width: 100%;
    height: 80vh;
    bottom: 0;
    z-index: 3;
    border-radius: 5px;
    visibility: hidden;
    animation: upward 0.2s ease;
}

#trip-icon {
    cursor: pointer;
    top: 20px;
    left: 20px;
    position: absolute;
}

.trip-dtf {
    z-index: 1000000;
    background-color: #5399bec9;
    width: 90%;
    overflow: hidden;
}
.trip-dtf-hidden {
    height: 0;
    width: 0;
    overflow: hidden;
}
#trip-dtf p {
    opacity: 0.5;
    font-weight: 700;
    height: 30px;
    padding-left: 10px;
}

.leaflet-routing-container, .leaflet-bar, .leaflet-control {
    display: none;
}

#map {
    position: absolute;
    bottom: 5px;
    scale: 1;
}

.order-btn {
    text-align: center;
    z-index: 100000;
    line-height: 35px;
    position: absolute;
    bottom: 40px;
    font-size: 13px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(51, 143, 218, 0.75);
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}


#order-btn {
    border-radius: 5px;
    color: #fff;
    height: 35px;
    width: 120px;
    font-size: 13px;
    width: 120px;
    border: none;
    background-color:#4D78AB;
}



@keyframes upward {
    0% {bottom: -750px;}
    100% {bottom: 0px;}
}


.down-arrow {
    cursor: pointer;
    width: 40px;
    height: 40px;
    transform: rotate(270deg);
}

.location {
    background-color: rgba(128, 128, 128, 0.646);
}

#change-location iframe {
    position: absolute;
    width: 100%;
    height: 50vh;
    bottom: 5px;
    display: none;
}

#map {
    width: 99%;
    height: 79vh;
    z-index: -1;
    margin-top: -120px;
}

/* ----------------sign in page---------------------- */

.signin-img {
    width: 200px;
    top: 150px;
    left: 0;
}

/* ----------------forgot password page---------------------- */
.forgot-password-form {
    margin-top: -180px;
}

.shown-next {
    width: 100%;
    text-align: center;
    color: blue;
}

.submit-code {
    background-color: #bcdbea;
    box-shadow: 2px 2px 3px #72bce778;
    display: none;
    border-radius: 5px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    bottom: 20px;
    height: 40vh;
    width: 100%;
    z-index: 1;
    animation: up 0.5s ease;
}


@keyframes up {
    0% {bottom: -350px;}
    100% {bottom: 20px;}
}

.sms-inputs {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
}


.smscode {
    margin: 10px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(240, 238, 238, 0.331);
}

/* ---------------- service page---------------------- */

.trip-header {
    display: flex;
    /* border: 1px solid; */
    width: 90%;
    margin-left: 0;
    padding: 10px 0;
    align-items: center;
    color: #012c44;
    justify-content: space-between;
}
.trip-information {
    text-align: center;
    font-size: 20px;
    font-weight: 600;


}

#status {
    padding: 5px 10px;
    border-radius: 15px;
    width: 90px;
    text-align: center;
}

.points {
    width: 400px;
}

.points p:nth-child(1) {
    min-width: 150px;
    color: #012c44;
    font-size: 18px;
    padding: 0 0 0 5px;
    margin-right: 10px;

}
.points p:nth-child(2) {
    color: #00083e;
    width: 500px;
    background-color: #012d4423;
    font-size: 20px;
    margin-top: -15px;
    margin-bottom: 30px;
    padding: 5px 5px ;
    overflow: hidden;
    margin-right: 10px;
}

.ended {
    margin-top: 50px;
    font-size: 22px;
}


main .booking-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin-bottom: 0;
    margin-top: -170px;
    overflow: scroll;

}
::-webkit-scrollbar {
    display: none;
}



/* ------------------------- manage user account ------------------- */

.manage-acnt-scn {
    margin-top: 100px;
    display: block;
}

.profile-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-img img {
    width: 50px;
}

.profile-name {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
}

.profile-set {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.profile-set li p {
    color: #012c44;
    font-weight: 600;
    font-size: 12px;
}
.user-panel {
    font-size: 14px;
    margin-top: 40px;
    height: fit-content;
}

.user-panel form {
    width: 96%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.lbl-wrap {
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.45);
}



.lbl-wrap img {
    width: 20px;
}
.user-panel form input {
    height: 36px;
    background-color: #5398BE;
    border:none;
    margin-bottom: 8px;
}

.user-panel form input::placeholder {
    color: black;
}


.user-panel details {
    width: 100%;
    margin-top: 5px;
    line-height: 50px;
    font-weight: 600;
    user-select: none;
}

.not-active {
    cursor: pointer;
    user-select: none;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.479);
}

.active {
    color: rgb(0, 26, 255);
    border-bottom: 0.1px solid rgb(0, 26, 255);
}

/*  validations */

.validation-error {
    display: none;
    color: red;
    background-color: #ffffff52;
    font-size: 12px;
    width: 270px;
    margin:-5px auto auto;
    padding: 5px;

}


/*  break points */

@media (min-width: 950px) {
    body {
        width: 100%;
    }

    header {
        height: 60px;
        padding: 5px;
    }

    header ul {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: end ;
        flex-direction: row-reverse;
        margin-left: 10px;
    }
    .nav-bar {
        display: flex;
        width: 900px;
        justify-content: end;
        margin-left: 50px;
        align-items: center;
        margin-top: 5px;
        height: 50px;
    }

    .nav-bar ul {
        width: 600px;
        margin-right: 0px;
    }
    .nav-bar ul li {
        text-align: center;
        padding: auto 10px;
        list-style: none;
        text-decoration: none;
        color: #000;
    }

    .nav-bar ul li:hover {
        border-bottom: 0.1px solid #000;
    }
    .active {
        border-bottom: 2px solid #000;
    }
    .bk-arrow {
        display: none;
    }

    #back {
        display: none;
    }
    .map-img {
        position: absolute;
        top: 400px;
        left: 300px;
        width: 600px;
        opacity: 0.3;
        animation: darken 2s ease 5s;
    }
    
    .car-img {
        display: none;
    }
    
    
    .app-img {
        position: absolute;
        top: 100px;
        left: 200px;
        width: 400px;
        opacity: 0.3;
        animation: darken 2s ease 5s;
    }
    
    @keyframes darken {
        0% {
            opacity: 0.2;
        }
    
        50% {
            opacity: 0.7;
        }
    
        100% {
            opacity: 0.2;
        }
    }

    .pass-img {
        display: none;
    }
/*  manage account */
    .manage-acnt-scn {
        width: 60%;
    }

    main {
        width: 60%;
    }

    .signin-img {
        position: absolute;
        width: 200px;
        left: 700px;
    }

    .phone-img {
        position: absolute;
        width: 200px;
        left: 700px;
    }

    .welcome-gif {
        position: absolute;
        width: 500px;
        left: 700px; 
    }

}




@media (max-width: 950px) {

    .nav-bar {
        display: none;
    }
    header {
        margin-top: 10px;
    }

}