* {
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    /* border: 0.1px solid #d41818; */
}

::-webkit-scrollbar {
    display: none;
}

body {
    position: relative;
    margin: auto;
    max-width: 500px;
    height: 100vh;
    background-color: #F7B32B;
    overflow: hidden;
}

header {
    display: flex;
    margin: 5px auto;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-size: 130%;
    text-shadow: 2px 2px 3px #012c44;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

header div span {
    font-size: 40px;
    font-weight: bold;
    color: #011627;
}

ul {
    margin-bottom: 3px;
    display: flex;
    cursor: pointer;
    color: #2D1E2F;
}

a {
    color: #2D1E2F;
}

main {
    padding: 0.1px;
    margin: auto;
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
}


section {
    margin: 100px auto;
    width: 95%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

section p {
    width: 90%;
    color: #2D1E2F;
    font-size: 30px;
    text-align: center;

}

.btn-driver {
    padding: 10px;
    margin: 10px 0;
    border-radius: 38px;
    width: 250px;
    border: none;
    color: #FCF6B1;
    height: 45px;
    background-color: #60222D;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}

/* ----------------- sign in -------------------- */

form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    width: 250px;
    height: 45px;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    border: none;
    margin: 10px auto;
    background-color: aliceblue;
    opacity: 0.8;
}

/* ----------------- password forgotten -------------------- */

label {
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: -5px;
    width: 100%;
    text-align: left;
}


.notification {
    width: 60%;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    visibility: hidden;
}
.notification-register {
    width: 60%;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    visibility: hidden;
}

.notification u, .notification-register u {
    color: red;
    text-align: center;
    cursor: pointer;
}

/* ----------------- driver registrataion -------------------- */

.register-section {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.register-section u {
    font-size: 12px;
    padding: 5px 10px;
}

.registration-form {
    width: 100%;
    border: 0.1px solid red;
    margin: 0;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.register-section p {
    font-size: 17px;
    margin-left: -12px;
    text-align: left;
    font-weight: 700;
    
}

.register-section input, select {
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 40px;
    text-align: left;
    padding: 0 10px;
    margin: 8px 5px 15px; 
}
 .personal-register, .vehicle-register {
    background-color: #fcf6b149;
    width: 80%;
    height: fit-content;

 }

 /* ----------------------driver's portal --------------------- */
 .unavailable-screen {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 80%;
    line-height: 80px;
    height: 80px;
    background-color: #ffffff5a;
    text-align: center;
    color: red;

 }

 .driver-portal-sct {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
}

.driver-portal-sct details  {
    background-color: #FCF6B1;
    margin: 5px auto;
    width: 100%;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: 2px 4px 15px 0px rgba(0,0,0,0.75);
}



.driver-portal-sct p {
    font-size: 18px;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
}

.status {
    margin: auto;
    border-radius: 40px;
    background-color: #fcf6b18f;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status p {
    font-size: 25px;
    margin-right: 10px;
}

 .btn-status-available{
    width:150px;
    height: 40px;
    color: #fff;
    background-color: green;
    border-radius: 25px;
    border: none;
 }
 .btn-status-unavailable{
    width:150px;
    height: 40px;
    color: #fff;
    background-color:red;
    border-radius: 25px;
    border: none;
 }




 .accept {
    width: 80px;
    margin: 18px;
    background-color: #F7B32B;
    border: none;
    height: 25px;
    border-radius: 15px;
 }


 .seeonmap-btn {
    width: 120px;
    border: none;
    height: 25px;
    border-radius: 15px;
    background-color: aqua;
 }
 .ignore-btn {
    width: 80px;
    border: none;
    height: 25px;
    margin: 18px 18px 18px 0;
    border-radius: 15px;
    background-color:chocolate;
 }